#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^categories/?$ index.php?controller=Category [L]
RewriteRule ^categories/add$ index.php?controller=Category&action=add [L]
RewriteRule ^categories/add-form?$ index.php?controller=Category&action=addform [L]
RewriteRule ^categories/edit-form/(\d+)/?$ index.php?controller=Category&action=editform&id=$1 [L]
RewriteRule ^categories/delete/(\d+)/?$ index.php?controller=Category&action=delete&id=$1 [L]
RewriteRule ^categories/update/?$ index.php?controller=Category&action=update [L]

RewriteRule ^users/?$ index.php?controller=User [L]
RewriteRule ^users/add$ index.php?controller=User&action=add [L]
RewriteRule ^users/add-form?$ index.php?controller=User&action=addform [L]
RewriteRule ^users/edit-form/(\d+)/?$ index.php?controller=User&action=editform&id=$1 [L]
RewriteRule ^users/delete/(\d+)/?$ index.php?controller=User&action=delete&id=$1 [L]
RewriteRule ^users/update/?$ index.php?controller=User&action=update [L]

RewriteRule ^classifieds/?$ index.php?controller=Classified [L]